.container {
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
  .header {
    height: 38px;
    .title {
      font-weight: bold;
      margin: 5px 0;
    }
  }
  .body {
    .value {
      font-size: 36px;
      margin: 0;
      font-weight: 700;
      color: #353535;
    }
    .subValue {
      color: #5a5a5a;
      margin: 5px;
    }
  }
}
