@import "colors";
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}



.p-progress-spinner-circle {
  stroke: $primary;
}

.kb-btn {
  @keyframes p-progress-spinner-color {
    100%,
    0% {
      stroke: #fff;
    }
    40% {
      stroke: #fff;
    }
    66% {
      stroke: #fff;
    }
    80%,
    90% {
      stroke: #fff;
    }
  }
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: $primary;
  }
  40% {
    stroke: $primary;
  }
  66% {
    stroke: $primary;
  }
  80%,
  90% {
    stroke: $primary;
  }
}



.full-screen-loader-container {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
  height: calc(100vh - 60px);
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
}

.fixed {
  position: fixed;
}

.pointer {
  cursor: pointer;
}
